html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/nuggets3.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 300;
    text-shadow: 2px 2px white;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #0E2240;
    /*background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); Old code */
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #1D428A; /*Old setting #2e3d49*/
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    /*transform: rotateY(0);*/
    background: #FEC524; /*Old setting #02b3e4*/
    cursor: default;
    /*New code*/
    animation-name: flipInY;
    animation-duration: 0.5s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #8B2131; /*Old setting #02ccba */
    font-size: 33px;
    /*New Code*/
    animation-name: rubberBand;
  /*backface-visibility: visible;
    -webkit-backface-visibility: visible;*/
    animation-duration: 0.5s;
}

/* Animations */

/* @keyframes is a rule (built into CSS) that specifies animation code */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*Styles for modal*/

.modal__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background: rgba(0, 0, 0, 0.438);
}

.modal__body {
    position: relative;
    width: 400px;
    /*height: 400px; removed*/
    top: 50%;
    left: 50%;
    background: #ffffff url('../img/nuggets3.jpg');
    transform: translate(-50%, -40%);
}

.modal__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid grey;
}

.modal__close {
    font-weight: bold;
    font-size: 2rem;
}

.modal__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.modal__buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.modal__button {
    width: 60px;
    height: 30px;
}

.hide {
    display: none;
}